---
import Layout from '~/layouts/PageLayout.astro';
import Test from '~/components/widgets/Test.astro';
import Content from '~/components/widgets/Content.astro';
import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';

const metadata = {
  title: 'resources',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
    <!-- Section Banner     -->
    <TextOverlayImage
    image={{ src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551638/shieldoffaith_tognni.jpg', alt: 'Description of the image' }}
    title="Resources"
    subtitle=`"Taking the shield of faith, with which you can quench all the flaming darts of the evil one." -Ephesians 6:16`
    textBgOpacity = {0.3}
    backgroundSize = 'cover'
    titleSize = '2rem'
    textColor = 'white'
    backgroundHeight = '450px'
    backgroundWidth = '100%'
    containerWidth = '100%'
  />
<div class="mt-7 mb-7">
  <Test />
</div>
<!-- subsection banner -->
<TextOverlayImage
      image={{ src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551638/publishment_vhdwpx.jpg', alt: 'Description of the image' }}
      title="Bibliography"
      textBgOpacity={0.1}
      backgroundSize="cover"
      titleSize="2rem"
      textColor="white"
      backgroundHeight="350px"
      backgroundWidth="100%"
      containerWidth="100%"
/> 
<!-- books section -->
<Content
    isReversed
    items={[
      {
        title: "Tinieblas Tibetanas(Tibetan Darkness)",
        description: 'The reader does not hold in their hands a book of dialogue, but a deeply critical work. Therefore, let the reader not expect to find here superficial attempts at reconciliation, beneath which—often, if not always—the weaknesses of a psychologically complacent profile are masked. Instead, what the reader will find is a raw, direct, plain, and unvarnished illumination of the grave errors that define the very identity of a false path that is today publicly promoted, advanced, and legitimized as an alternative to Christianity.',
        icon: 'tabler:book',
        callToAction: { text: 'Buy', href: 'https://www.amazon.com/-/es/Federico-Highton/dp/9878805891', icon: 'tabler:brand-amazon',}
        },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551737/libro_Tinieblas_wdmeo4.jpg',
      alt: 'Features Image',
    }}
  >
  </Content>
  <Content
    isAfterContent
    items={[
      {
        title: "Ad Gentes",
        description: "The present work that the reader holds is a compilation of texts written under immense effort and in the most adverse circumstances (on the Tibetan plateau, there are no libraries to consult, no chairs to rest in, no tables to eat at…). The author has penned these thoughts hastily and fervently, quixotically, in the heat of the moment. Thus, what you will find here is not a treatise on missions, but rather reflections, sermons, letters, panegyrics, and above all, an immense zeal for souls. That same zeal which led Our Lord to say that He had come to bring 'fire upon the earth, and how I wish it were already kindled!' (Luke 12:49).",
        icon: 'tabler:book',
        callToAction: { text: 'Buy', href: 'https://www.amazon.com/AD-GENTES-Introducci%C3%B3n-Apost%C3%B3lica-evangelizadas/dp/1728687667/ref=sr_1_1?s=books&sr=1-1', icon: 'tabler:brand-amazon', }
        },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551560/book_AdGentes_yomqpd.jpg',
      alt: 'Benefits Image',
    }}
  >
  </Content>
  <Content
    isReversed
    items={[
      {
        title: "Esbozo de Aforismos(Outline of Aphorisms)",
        description: 'These pages are but the lighthouse alluded to in the Dorsian metaphor. The flashes of light and moments of darkness that emerge from them have the rhythm and measure—both in form and content—so that if one has heeded Our Lord and set sail into the deep, they will not crash against the rocks, run aground on a cliff, or end up shipwrecked on the island of Socotra or in the bay of Sulawesi. If one is skilled in soul, however, they may reach Jauja, as Father Leonardo Castellani did. And there they may dwell, having found at last the soul of a brother. This is no small thing in the fatal shipwreck in which we find ourselves (From the Prologue).',
        icon: 'tabler:book',
        callToAction: { text: 'Buy', href: 'https://www.amazon.com/Esbozo-aforismos-Spanish-Federico-Highton-ebook/dp/B077W5V9R9/ref=sr_1_1?s=books&sr=1-1', icon: 'tabler:brand-amazon', }
        },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551632/libro_esbozo_nw1jd8.jpg',
      alt: 'Features Image',
    }}
  >
  </Content>
  <Content
    isAfterContent
    items={[
      {
        title: "Editorial Que No te la Cuenten",
        description: 'Explore our curated selection of books',
        icon: 'tabler:book',
        callToAction: { text: 'Buy', href: 'https://editorial.quenotelacuenten.org/', icon: 'tabler:brand-amazon', }
        },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551739/libro_qntlc_p8dpgi.jpg',
      alt: 'Benefits Image',
    }}
  >
  </Content>
</Layout>
<!-- Libros
Material formativo sobre misiones
Santoral misionero -->

