---
import Layout from '~/layouts/Layout.astro';
import Note from '~/components/widgets/Note.astro';
import Header from '~/components/widgets/Header.astro';
import Footer02 from '~/components/widgets/Footer02.astro';
import NewsLetter from '~/components/widgets/NewsLetter.astro';
import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';
import SocialLinkSticker from '~/components/widgets/SocialLinkSticker.astro';

//import Announcement from '~/components/widgets/Announcement.astro';

import { headerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <SocialLinkSticker id="back-to-top" />
  <!-- showRssFeed  -->
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <NewsLetter
    backgroundImage="https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551634/newsletter_portada_snnxfr.jpg"
    title="Subscribe to Our Newsletter"
    subtitle="Get the latest updates and exclusive offers delivered straight to your inbox."
    buttonText="Subscribe Now"
/>
<!-- Donation banner -->
    <TextOverlayImage
    image='https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551623/IMG_1380_cpbvd9.jpg'
    title="Ignite the Holy Fire Across the World"
    subtitle="Your donation fuels the Catholic Mission at the End of the World, bringing Christ’s light to the most faithful and underserved. Together, we can ignite hearts with the Gospel and strengthen the Lord’s work."
    subtitle02="DONATE TODAY and be part of this divine mission!"
    subtitle03='"And the gospel must first be preached to all nations." – Mark 13:10'
    textBgOpacity={0.5}
    backgroundSize="cover"
    titleSize="2rem"
    subtitleSize="1rem"
    textColor="white"
    backgroundHeight="450px"
    backgroundWidth="100%"
    containerWidth="100%"
    buttonText="Donate Now"
    buttonLink="https://donorbox.org/omnesgentesproject"
    buttonIcon="tabler:heart-handshake"
    buttonColor="#b2161e"
    />
  <Note />
  <slot name="footer">
    <Footer02 />
  </slot>
</Layout>