---
import Layout from '~/layouts/Layout.astro';
import Note from '~/components/widgets/Note.astro';
import Header from '~/components/widgets/Header.astro';
import Footer02 from '~/components/widgets/Footer02.astro';
//import NewsLetter from '~/components/widgets/NewsLetter.astro';
import TextOverlayImage from '~/components/widgets/TextOverlayImage.astro';
import SocialLinkSticker from '~/components/widgets/SocialLinkSticker.astro';

//import Announcement from '~/components/widgets/Announcement.astro';

import { headerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <SocialLinkSticker id="back-to-top" />
  <!-- showRssFeed  -->
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <!-- <NewsLetter
    backgroundImage="https://res.cloudinary.com/dqk5ejjai/image/upload/v1736551634/newsletter_portada_snnxfr.jpg"
    title="Subscribe to Our Newsletter"
    subtitle="Get the latest updates and exclusive offers delivered straight to your inbox."
    buttonText="Subscribe Now"
/> -->


<!-- ¡HAZ TU DONACIÓN HOY y sé parte de esta misión divina! \n'Y el evangelio debe ser predicado primero a todas las naciones.' – Marcos 13:10" -->
<!-- Donation banner -->
    <TextOverlayImage
    image='https://res.cloudinary.com/dqk5ejjai/image/upload/v1738896318/donate001_elowjh.jpg'
    title='"Les aseguro que todo lo que hicieron por uno de mis hermanos ... lo hicieron por mí" -Mt 25:40'
    subtitle='Tu donación impulsa la Misión Ad Gentes hasta el fin del mundo, llevando la luz de Cristo a los más "olvidados". Juntos podemos propagar el Reino de Cristo en toda la tierra para la gloria de Dios Padre.'
    textBgOpacity={0.5}
    backgroundSize="cover"
    titleSize="2rem"
    subtitleSize="1rem"
    textColor="white"
    backgroundHeight="650px"
    backgroundWidth="100%"
    containerWidth="100%"
    buttonText="Dona"
    buttonLink="https://donorbox.org/omnesgentesproject"
    buttonIcon="tabler:heart-handshake"
    buttonColor="#b2161e"
    />
  <Note />
  <slot name="footer">
    <Footer02 />
  </slot>
</Layout>





